@use "styles/theme.scss" as variables;

.terminal-dialog {
  position: absolute;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  background: variables.$color-background;
  border: 2px solid variables.$color-primary;
  border-radius: 5px;
  font-family: variables.$font-terminal;
  color: variables.$color-primary;
  box-shadow: 0 0 15px variables.$color-primary;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  overflow: none;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.terminal-header {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: variables.$color-background-09;
  padding: 10px;
  height: 28px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid variables.$color-primary;
}

.close-btn {
  background: transparent;
  border: none;
  color: variables.$color-primary;
  font-size: variables.$font-base-size;
  cursor: pointer;
}

.terminal-content {
  position: fixed;
  position: absolute;

  top: 50px;
  padding: 5px;
  width: 95%;
  width: -webkit-calc(100% - 1rem);
  width: -moz-calc(100% - 1rem);
  width: calc(100% - 1rem);
  height: 90%;
  height: -webkit-calc(100% - 50px - 1rem);
  height: -moz-calc(100% - 50px- 1rem);
  height: calc(100% - 50px - 1rem);

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
