<div #dialog class="terminal-dialog">
  <div class="terminal-header">
    <span class="title">{{ title }}</span>
    <button class="close-btn" (click)="close()">✖</button>
  </div>
  <div class="terminal-content">
    @if (component != null) { @switch (component) { @case ('web-browser') {
    <app-web-browser [address]="componentData" style="height: 100%">
    </app-web-browser>
    } @case ('article') {
    <app-article [address]="componentData" style="height: 100%"> </app-article>
    } @case ('pdf-viewer') {
    <app-pdf-viewer
      [pdfUrl]="componentData"
      wrapperWidth="100%"
      wrapperHeight="100%"
      pdfWidth="100%"
      pdfHeight="100%"
      style="height: 100%; width: 100%"
    >
    </app-pdf-viewer>
    } } }
  </div>
</div>
