@use "styles/theme.scss" as variables;
.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10vh;
  height: 85vh;
}

.table-container {
  width: 80%;
  background-color: variables.$color-background-09;
  padding: 15px;
  border-radius: 5px;

  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  color: variables.$color-primary;
  th,
  td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    cursor: pointer;
    background: variables.$color-background;
    padding: 0.5em;
  }
  td {
    padding: 0.5em;
    border-top: 1px solid variables.$color-primary;
  }
  button {
    background: variables.$color-primary;
    color: black;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }
}

.search-bar {
  margin-bottom: 10px;
  input {
    background-color: variables.$color-background-07;
    color: variables.$color-primary;
    border: 1px solid variables.$color-primary;
    border-radius: 15px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

  input::placeholder {
    color: variables.$color-primary;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 5px variables.$color-primary;
  }
}
