<div class="library">
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search books..."
      [ngModel]="searchValue()"
      (ngModelChange)="searchValue.set($event)"
    />
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th (click)="updateSort('title')">Title</th>
          <th (click)="updateSort('author')">Author</th>
          <th (click)="updateSort('genre')">Genre</th>
          <th (click)="updateSort('status')">Status</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        @for (book of filteredBooks(); track book.title) {
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>{{ getStatusDisplay(book.status) }}</td>
          <td>
            @if (book.link) {
            <button (click)="goTolink(book.link)">Open</button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
