<div class="cookbook">
  <div class="panel">
    <div class="panel-header">
      <h1>Cookbook</h1>
      <app-search-input
        [placeholder]="'Search recipes by name or ingredients...'"
        [value]="query"
        (valueChange)="applyFilter($event)"
      ></app-search-input>
    </div>

    <div class="table-wrapper" *ngIf="filtered.length; else emptyState">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th class="rating-col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of filtered" (click)="openRecipe(recipe)">
            <td>{{ recipe.title }}</td>
            <td>
              <div class="stars">
                <span
                  *ngFor="let filled of getStars(recipe.rating); let i = index"
                  [class.filled]="filled"
                >
                  &#9733;
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #emptyState>
      <div class="empty">No recipes found.</div>
    </ng-template>
  </div>

  @if (selected) {
  <app-terminal-dialog
    [title]="selected?.title || 'Recipe'"
    [component]="'recipe'"
    [componentData]="selected"
    (closeDialogEvent)="closeDialog()"
  ></app-terminal-dialog>
  }
</div>
