<div class="cookbook">
  <!-- <div class="grid">
    <button *ngFor="let r of recipes" (click)="openRecipe(r)">
      {{ r?.Name || r?.name || 'Recipe' }}
    </button>
  </div>

  @if (selected) {
    <app-terminal-dialog
      [title]="selected?.Name || selected?.name || 'Recipe'"
      [component]="'recipe'"
      [componentData]="selected"
      [width]="'80%'"
      [height]="'80%'"
      (closeDialogEvent)="closeDialog()"
    ></app-terminal-dialog>
  } -->
  <div class="absolute-position top-8vh flex-center-top">
    <h1 class="text-center text-light mt-4">Cookbook</h1>
  </div>
  <app-work-in-progress></app-work-in-progress>
</div>
