html{
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

.divide{
	position: absolute;
	top: 38%;
}


#nvButton{
	position:absolute;
	top:1%;
	left:3%;
}

#ngmusicButton{
	position:absolute;
	top:1%;
	right:3%;
}

.projectsButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromLeft;
	animation-iteration-count: 1;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#projectsButton{
	top: 8%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 1;
}

#projectsButtonText{
	fill-opacity: 0;
}

#projectButtonArea:hover #laptopFrame{
	fill: #3D3D3D;
	-webkit-transition: fill 1s;
    -moz-transition: fill 1s;
    -o-transition: fill 1s;
    -ms-transition: fill 1s;
    transition: fill 1s;
}

#projectButtonArea:hover #projectsButtonText{
	fill-opacity: 1;
	-webkit-transition: fill-opacity 1s;
    -moz-transition: fill-opacity 1s;
    -o-transition: fill-opacity 1s;
    -ms-transition: fill-opacity 1s;
    transition: fill-opacity 1s;
}

.contactsButtonAnimation{
	animation-duration: 3s;
	animation-name: slideInPhone;
	animation-iteration-count: 1;
}

@keyframes slideInPhone {
	0% {
		transform: translateX(-350%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#contactButton{
	top: 50%;
	left: 10%;
	position: absolute;
	transform: translate(-50%,0);
	z-index: 1;
	width: 180px;
	height: 120px;
	background-image: url('images/mobile_phone.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#contactButtonText{
	opacity: 0;
	font-size: 1.22em;
	top: 14px;
  	left: 46px;
	transform: rotate(30deg);
	transform-origin: 0 0;
	position: absolute;
	color: white;
}

#contactButton:hover{
	background-image: url('images/mobile_phone_red.png');
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#contactButton:hover #contactButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.hobbiesButtonAnimation{
	animation-duration: 3s;
	animation-name: slideInHobbies;
	animation-iteration-count: 1;
}

@keyframes slideInHobbies {
	0% {
		transform: translateX(250%);
	}
	100% {
		transform: translateX(0%);
	}
}

#hobbiesButton{
	top: 50%;
	right: 10%;
	position: absolute;
	z-index: 1;
	width: 180px;
	height: 120px;
	background-image: url('images/hobbie.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#hobbiesButtonText{
	opacity: 0;
	font-size: 1.22em;
	top: 14px;
  	left: 46px;
	transform: rotate(30deg);
	transform-origin: 0 0;
	position: absolute;
	color: white;
}

#hobbiesButton:hover{
	background-image: url('images/hobbie_green.png');
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#hobbiesButton:hover #hobbiesButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.profileButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromRight;
	animation-iteration-count: 1;
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(130%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#profileButton{
	top: 30%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 2;
}

#profileButtonText{
	fill-opacity: 0;
}

#profileButtonArea:hover #hackerBody{
	fill: #130a3a;
	-webkit-transition: fill 1s;
    -moz-transition: fill 1s;
    -o-transition: fill 1s;
    -ms-transition: fill 1s;
    transition: fill 1s;
}

#profileButtonArea:hover #profileButtonText{
	fill-opacity: 1;
	-webkit-transition: fill-opacity 1s;
    -moz-transition: fill-opacity 1s;
    -o-transition: fill-opacity 1s;
    -ms-transition: fill-opacity 1s;
    transition: fill-opacity 1s;
}