
#navbar{
	background-color: #212121;
}

#Main{
	display: flex;
	width: 100%;
	background-color: black;
	color: white;
	flex-direction: column;
	flex-wrap: wrap;
}

#firstPage{
	width: 100%;
	background-image: url("MatrixME.png");
	background-width:100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containerMidMid{
	text-align:center;
}

#NameFirstPage{
	font-size: 5em;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.1em black, -0.015em -0.015em 0.05em red;
	transition: 2s;
}

#NameFirstPage:hover{
	text-shadow: 0em 0em 0.5em red, 0em 0em 1em black;
}

h3{
	text-shadow: 0em 0em 1em black;
}

#aboutPage{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	justify-content: center;
	padding-top:1em;
	padding-bottom: 1em;
}

#textAboutMeContainer{
	display: flex;
	justify-content: center;
	width:50%;
}

#AboutMeText{
	align-self: center;
	width:90%;
}

#imageBox{
	width: 50%;
	height: 700px;
}

#AboutMeImage{
	height:600px;
}

img{
	transition: transform 2s;
}

img:hover{
	transform: scale(1.09);
}

#photoPage{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
}

.imagesPP{
	max-width: 80%;
	max-height: 600px;
	padding: 2%;
}