html{
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

.hide{
	opacity: 0;
}

#nvButton{
	position:absolute;
	top:0;
	left:0;
}

.projectsButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromLeft;
	animation-iteration-count: 1;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#projectsButton{
	top: 8%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 1;
}

#projectsButtonText{
	fill-opacity: 0;
}

#projectButtonArea:hover #laptopFrame{
	fill: #3D3D3D;
	-webkit-transition: fill 1s;
    -moz-transition: fill 1s;
    -o-transition: fill 1s;
    -ms-transition: fill 1s;
    transition: fill 1s;
}

#projectButtonArea:hover #projectsButtonText{
	fill-opacity: 1;
	-webkit-transition: fill-opacity 1s;
    -moz-transition: fill-opacity 1s;
    -o-transition: fill-opacity 1s;
    -ms-transition: fill-opacity 1s;
    transition: fill-opacity 1s;
}

.profileButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromRight;
	animation-iteration-count: 1;
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(130%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#profileButton{
	bottom: 0%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 2;
}

#profileButtonText{
	fill-opacity: 0;
}

#profileButtonArea:hover #hackerBody{
	fill: #130a3a;
	-webkit-transition: fill 1s;
    -moz-transition: fill 1s;
    -o-transition: fill 1s;
    -ms-transition: fill 1s;
    transition: fill 1s;
}

#profileButtonArea:hover #profileButtonText{
	fill-opacity: 1;
	-webkit-transition: fill-opacity 1s;
    -moz-transition: fill-opacity 1s;
    -o-transition: fill-opacity 1s;
    -ms-transition: fill-opacity 1s;
    transition: fill-opacity 1s;
}