@use "styles/theme.scss" as variables;

.in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  img {
    width: 460px;
    max-width: 100%;
    max-height: 600px;
  }

  h1 {
    text-shadow: 1px 1px 10px variables.$color-primary;
  }
}

@media (max-width: 460px) {
  .in-progress {
    img {
      width: 85%;
    }
  }
}
