.pdf-wrapper {
  position: absolute;
  top: 8vh;

  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-viewer {
  display: block;
  max-width: 75vw;
  width: 100%;
  height: 100%;

  overflow: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1600px) {
    max-width: 90vw;
  }

  @media (max-width: 900px) {
    max-width: 100vw;
  }
}
