@use "styles/theme.scss" as variables;

.archive-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;

  .archive-component-container {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding: 1rem;
    background-color: variables.$color-background-08;
    gap: variables.$base-gap;
  }

  a {
    text-decoration: none;
    padding: 10px;
  }
  app-archive-selection-button {
    margin: 10px;
  }
}
