<div class="archive-component">
  <div class="archive-component-container">
    <a routerLink="/archive/cookbook">
      <app-archive-selection-button
        label="Cookbook"
      ></app-archive-selection-button>
    </a>
    <a routerLink="/archive/blog">
      <app-archive-selection-button label="Blog"></app-archive-selection-button>
    </a>
    <a routerLink="/archive/movies">
      <app-archive-selection-button
        label="Movies"
      ></app-archive-selection-button>
    </a>
    <a routerLink="/archive/library">
      <app-archive-selection-button
        label="Library"
      ></app-archive-selection-button>
    </a>
    <a routerLink="/archive/games">
      <app-archive-selection-button
        label="Games"
      ></app-archive-selection-button>
    </a>
    <a routerLink="/archive/tv-shows">
      <app-archive-selection-button
        label="TV Shows"
      ></app-archive-selection-button>
    </a>
  </div>
</div>
