<div class="home-app-container">
  <div class="home-app">
    <app-analog-clock></app-analog-clock>
    <app-weather></app-weather>
    <app-codex-shortcut></app-codex-shortcut>
    <div class="shortcut-container">
      <app-shortcut-button
        text="Projects"
        src="/projects"
      ></app-shortcut-button>
      <app-shortcut-button text="Archive" src="/archive"></app-shortcut-button>
    </div>
    <div class="shortcut-container">
      <app-shortcut-button
        text="Blog"
        src="/archive/blog"
        image="blog"
      ></app-shortcut-button>
      <app-shortcut-button
        text="Cookbook"
        src="/archive/cookbook"
        image="cookbook"
      ></app-shortcut-button>
    </div>
    <app-hacker-run-game></app-hacker-run-game>
  </div>
</div>
