@use "styles/theme.scss" as variables;

.codex-container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 250px;
  background: variables.$color-background-07;
  border: 2px solid variables.$color-primary;
  border-radius: 10px;
  color: variables.$color-primary;
  font-family: variables.$font-terminal;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.codex-container:hover {
  box-shadow: 0px 0px 10px variables.$color-primary;
}

.avatar {
  max-width: 50%;
  height: 100%;
  max-width: 210px;
  max-height: 210px;
  object-fit: cover;
  border-right: 2px solid variables.$color-primary;
}

.text-content {
  max-width: 50%;
  padding: 10px;
  text-align: left;
}

h2,
p,
h3 {
  margin: 5px 0;
}

h3 {
  font-weight: bold;
  font-size: variables.$font-h3-size;
  text-shadow: 0 0 5px variables.$color-primary;
}

@media (max-width: 900px) {
  .avatar {
    max-width: 30vw;
  }
}
