@use "../../../styles/theme.scss" as variables;

.weather-container {
  display: flex;
  align-items: center;
  gap: variables.$base-gap;
  padding: 10px;
  background: variables.$color-background-07;
  border: 2px solid variables.$color-primary;
  border-radius: 10px;
  color: variables.$color-primary;
  font-family: variables.$font-terminal;
  width: 380px;
  height: 230px;
}

.weather-container:hover {
  box-shadow: 0px 0px 10px variables.$color-primary;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: variables.$base-gap;
}

.weather-icon {
  filter: drop-shadow(0px 0px 5px variables.$color-primary);
}

.weather-title {
  display: flex;
  align-items: center;
  gap: variables.$small-gap;
  font-size: variables.$font-title-size;
}

.weather-info-text {
  font-size: variables.$font-base-size;
}

.weather-info-side-text {
  font-size: variables.$font-base-size;
  font-style: italic;
}

@media (max-width: 900px) {
  .weather-title {
    font-size: variables.$font-title-size-small-screen;
  }

  .weather-info-text {
    font-size: variables.$font-base-size-small-screen;
  }

  .weather-info-side-text {
    font-size: variables.$font-base-size-small-screen;
  }
}
