html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
}

.absolute-position {
  position: absolute;
}

.top-8vh {
  top: 8vh;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-center-top {
  display: flex;
  justify-content: center; // center horizontally
  align-items: flex-start;
}
