html{
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

.divide{
	position: absolute;
	top: 53%;
}

.hide{
	opacity: 0;
}

#wallImg{
	z-index: -2;
	top: 0%;
	width: 100%;
	position: absolute;
}

#clipbord{
	z-index: -1;
	top: 1%;
	right: 1.5%;
	height: 45%;
	position: absolute;
}

#tableImg{
	z-index: -1;
	top: 53%;
	width: 100%;
	height: 47%;
	position: absolute;
}

#nvButton{
	position:absolute;
	top:1%;
	left:2%;
	text-shadow: 2px 2px 2px #c2c2c2;
	background-color: rgba(255, 255, 255, 0.6) ;
}

#ngmusicButton{
	position:absolute;
	top:3%;
	right:2.2%;
}

.projectsButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromLeft;
	animation-iteration-count: 1;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#projectsButton{
	bottom: 13%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 1;
	width: 35%;
	min-height: 70%;
	background-image: url('../images/laptop.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#projectsButtonText{
	opacity: 0;
	color: black;
	font-size: 2.5em;
	top: 7%;
	transform: translate(-50%,0);
	position: absolute;
	text-shadow: 3px 3px 5px #a8a8a8;
}

#projectsButton:hover{
	background-image: url('./../images/laptop_gray.png');
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#projectsButton:hover #projectsButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.contactsButtonAnimation{
	animation-duration: 3s;
	animation-name: slideInPhone;
	animation-iteration-count: 1;
}

@keyframes slideInPhone {
	0% {
		transform: translateX(-350%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#contactButton{
	bottom: 7%;
	left: 10%;
	position: absolute;
	transform: translate(-50%,0);
	z-index: 1;
	min-width: 10%;
	min-height: 20%;
	background-image: url('../images/mobile_phone.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#contactButtonText{
	opacity: 0;
	font-size: 2em;
	top: 20%;
	transform: translate(-50%,0);
	transform-origin: 0 0;
	position: absolute;
	color: white;
	text-shadow: 3px 3px 5px #424242;
}

#contactButton:hover{
	background-image: url('./../images/mobile_phone_red.png');
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#contactButton:hover #contactButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.hobbiesButtonAnimation{
	animation-duration: 3s;
	animation-name: slideInHobbies;
	animation-iteration-count: 1;
}

@keyframes slideInHobbies {
	0% {
		transform: translateX(250%);
	}
	100% {
		transform: translateX(0%);
	}
}

#hobbiesButton{
	bottom: 15%;
	right: 5%;
	position: absolute;
	z-index: 1;
	min-width: 18%;
	min-height: 27%;
	background-image: url('../images/hobbie.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#hobbiesButtonText{
	opacity: 0;
	font-size: 2em;
	top: 35%;
	transform: translate(-50%,0);
	transform-origin: 0 0;
	position: absolute;
	color: white;
	text-shadow: 3px 3px 5px #1b1b1b;
}

#hobbiesButton:hover{
	background-image: url('./../images/hobbie_green.png');
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#hobbiesButton:hover #hobbiesButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.profileButtonAnimation{
	animation-duration: 2.5s;
	animation-name: slideInFromRight;
	animation-iteration-count: 1;
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(130%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#profileButton{
	bottom: 0%;
	left: 50%;
	transform: translate(-50%,0);
	position: absolute;
	z-index: 1;
	min-width: 35%;
	min-height: 50%;
	background-image: url('../images/hacker.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#profileButtonText{
	opacity: 0;
	color: rgb(255, 255, 255);
	top:65%;
	transform: translate(-50%,0);
	position: absolute;
	font-size: 2.5em;
	text-shadow: 3px 3px 5px #646464;
}

#profileButton:hover{
	background-image: url('./../images/hacker_purple.png');
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#profileButton:hover #profileButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.photosButtonAnimation{
	animation-duration: 3.5s;
	animation-name: slideInPhotos;
	animation-iteration-count: 1;
}

@keyframes slideInPhotos {
	0% {
		transform: translateX(-400%);
	}
	100% {
		transform: translateX(-50%);
	}
}

#photosButton{
	bottom: 39%;
	left: 19%;
	padding: 0%;
	position: absolute;
	width: 12%;
	height: 29%;
	transform: translateX(-50%);
	background-image: url('../images/deskPhotoFrame.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#photosButtonText{
	opacity: 0;
	color: rgb(255, 255, 255);
	top:45%;
	left: 50%;
	transform: translate(-47%,-50%);
	position: absolute;
	font-size: 2em;
	text-shadow: 3px 3px 5px #646464;
}

#photosButton:hover{
	background-image: url('../images/deskPhotoFrame_blue.png');
	-webkit-transition: background-image 1s;
    -moz-transition: background-image 1s;
    -o-transition: background-image 1s;
    -ms-transition: background-image 1s;
    transition: background-image 1s;
}

#photosButton:hover #photosButtonText{
	opacity: 1;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.polaroid{
	width: 100%;
	height: 100%;
}

#ciButton{
	width: 5%;
	height: 12%;
	right: 14%;
	top: 8%;
	position: absolute;
	padding: 0%;
}

#ciButton:hover #ciPhoto{
	opacity: 1;
	-webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    -ms-transition: opacity 2s;
    transition: opacity 2s;
}

#ciPin{
	width: 20%;
	left: 40%;
	top: 4%;
	position: absolute;
}

.photo{
	left:49%;
	width: 85%;
	top: 40%;
	transform: translate(-50%,-50%);
	position: absolute;
}